globot:
  rooms: [Test, Another Room, Secret Room]
  logger:
    path: tmp/globot.log
    level: debug
  plugins:
    database: tmp/globot.db
campfire:
  account: campfire_account_name
  api_key: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
  use_ssl: true
