globot:
  rooms: [Test, Another Room, Secret Room]
  logger:
    path: /path/to/globot.log
    level: debug
  plugins:
    database: /path/to/globot.db
campfire:
  account: campfire_account_name
  api_key: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
  use_ssl: true
